# PayPhone
PAYPHONE_TOKEN=TU_TOKEN_PARA_075045014001
PAYPHONE_CLIENT_ID=TU_ID_CLIENTE
PAYPHONE_CLIENT_SECRET=TU_CLAVE_SECRETA
PAYPHONE_APP_ID=TU_IDENTIFICADOR
PAYPHONE_ENCODING_PASSWORD=TU_CONTRASENA_DE_CODIFICACION
PAYPHONE_RESPONSE_URL=https://liven.ec/pagos/payphone/respuesta/
PAYPHONE_CANCEL_URL=https://liven.ec/pagos/payphone/cancelado/

# PayPhone API endpoints (reemplaza con los valores reales que te indique PayPhone)
PAYPHONE_PREPARE_URL=https://api.payphone.com/prepare
PAYPHONE_CONFIRM_URL=https://api.payphone.com/confirm
