<div class="swiper-slide">
    <div class="card-product">
        <div class="card-product-wrapper">
            <a href="{{ producto.get_absolute_url }}" class="product-img">
                {% with producto.imagenes.all as imgs %}
                {% if imgs.0 %}
                <img class="lazyload img-product" data-src="{{ imgs.0.src }}" src="{{ imgs.0.src }}"
                    alt="{{ producto.nombre }}">
                {% endif %}
                {% if imgs.1 %}
                <img class="lazyload img-hover" data-src="{{ imgs.1.src }}" src="{{ imgs.1.src }}"
                    alt="{{ producto.nombre }}">
                {% endif %}
                {% endwith %}
            </a>
            <div class="list-product-btn absolute-2">
                <a href="#"
                    class="box-icon bg_white wishlist btn-icon-action {% if producto.id in request.session.wishlist %}active{% endif %}"
                    data-product-id="{{ producto.id }}">
                    <span class="icon icon-heart"></span>
                    <span class="tooltip">Añadir a Favoritos</span>
                    <span class="icon icon-delete"></span>
                </a>
                <a href="#quick_view" data-bs-toggle="modal" data-product-id="{{ producto.id }}"
                    class="box-icon bg_white quickview tf-btn-loading">
                    <span class="icon icon-view"></span>
                    <span class="tooltip">Quick View</span>
                </a>
            </div>
            {% if producto.tiene_oferta %}
            <div class="on-sale-wrap text-end">
                <div class="on-sale-item">-{{ producto.porcentaje_descuento }}%</div>
            </div>
            {% endif %}
        </div>
        <div class="card-product-info">
            <a href="{{ producto.get_absolute_url }}" class="title link">{{ producto.nombre }}</a>
            <span class="price">
                {% if producto.tiene_oferta %}
                <span class="old-price">${{ producto.precio }}</span>
                <span class="new-price">${{ producto.precio_oferta }}</span>
                {% else %}
                <span class="new-price">${{ producto.precio }}</span>
                {% endif %}
            </span>
        </div>
    </div>
</div>
