{% extends "base.html" %}
{% load static %}

{% block content %}

        <!-- Slider -->
        <section class="tf-slideshow about-us-page position-relative">
            <div class="banner-wrapper">
                <img class="lazyload" src="{% static 'images/slider/about-banner-01.jpg' %}"
                    data-src="{% static 'images/slider/about-banner-01.jpg' %}" alt="image-collection">
                <div class="box-content text-center">
                    <div class="container">
                        <div class="text text-white">Where design meets comfort,  <br class="d-xl-block d-none"> and spaces become experiences</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Slider -->
        <!-- flat-title -->
        <section class="flat-spacing-9">
            <div class="container">
                <div class="flat-title my-0">
                    <span class="title">We are Liven</span>
                    <p class="sub-title text_black-2">
                        Welcome to our classic women's clothing store, where we believe <br class="d-xl-block d-none">
                        that timeless style never goes out of fashion. Our collection features classic <br
                            class="d-xl-block d-none">
                        pieces that are both stylish and versatile, perfect for building a <br
                            class="d-xl-block d-none">
                        wardrobe that will last for years.
                    </p>
                </div>
            </div>
        </section>
        <!-- /flat-title -->
        <div class="container">
            <div class="line"></div>
        </div>
        <!-- image-text -->
        <section class="flat-spacing-23 flat-image-text-section">
            <div class="container">
                <div class="tf-grid-layout md-col-2 tf-img-with-text style-4">
                    <div class="tf-image-wrap">
                        <img class="lazyload w-100" data-src="{% static 'images/collections/collection-69.jpg' %}"
                            src="{% static 'images/collections/collection-69.jpg' %}" alt="collection-img">
                    </div>
                    <div class="tf-content-wrap px-0 d-flex justify-content-center w-100">
                        <div>
                            <div class="heading">Established - 2000</div>
                            <div class="text">
                                Liven was founded in 2000 by Michelle Salazar, a fashion lover with a <br
                                    class="d-xl-block d-none">
                                passion for timeless style. Michelle had always been drawn to classic <br
                                    class="d-xl-block d-none">
                                pieces that could be worn season after season, and she believed that <br
                                    class="d-xl-block d-none">
                                there was a gap in the market for a store that focused solely on classic <br
                                    class="d-xl-block d-none">
                                women's clothing. She opened the first store in a small town in New <br
                                    class="d-xl-block d-none">
                                England, where it quickly became a local favorite.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- /image-text -->       
        <div class="container">
            <div class="line"></div>
        </div>
        <!-- Shop Gram -->
        <section class="pb-0 flat-spacing-18">
            <div class="container-full px-0">
                <div class="flat-title wow fadeInUp" data-wow-delay="0s">
                    <span class="title">Shop Gram</span>
                    <p class="sub-title">Here’s some of our most popular products people are in love with.</p>
                </div>
                <div dir="ltr" class="swiper tf-sw-shop-gallery" data-preview="5" data-tablet="3" data-mobile="2"
                    data-space-lg="0" data-space-md="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery-item hover-img rounded-0 wow fadeInUp" data-wow-delay="0s">
                                <div class="img-style">
                                    <img class="lazyload img-hover"
                                        data-src="{% static 'images/shop/gallery/furniture-gallery_01.jpg' %}"
                                        src="{% static 'images/shop/gallery/furniture-gallery_01.jpg' %}" alt="image-gallery">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-item hover-img rounded-0 wow fadeInUp" data-wow-delay=".1s">
                                <div class="img-style">
                                    <img class="lazyload img-hover"
                                        data-src="{% static 'images/shop/gallery/furniture-gallery_02.jpg' %}"
                                        src="{% static 'images/shop/gallery/furniture-gallery_02.jpg' %}" alt="image-gallery">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-item hover-img rounded-0 wow fadeInUp" data-wow-delay=".2s">
                                <div class="img-style">
                                    <img class="lazyload img-hover"
                                        data-src="{% static 'images/shop/gallery/furniture-gallery_03.jpg' %}"
                                        src="{% static 'images/shop/gallery/furniture-gallery_03.jpg' %}" alt="image-gallery">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-item hover-img rounded-0 wow fadeInUp" data-wow-delay=".3s">
                                <div class="img-style">
                                    <img class="lazyload img-hover"
                                        data-src="{% static 'images/shop/gallery/furniture-gallery_04.jpg' %}"
                                        src="{% static 'images/shop/gallery/furniture-gallery_04.jpg' %}" alt="image-gallery">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-item hover-img rounded-0 wow fadeInUp" data-wow-delay=".4s">
                                <div class="img-style">
                                    <img class="lazyload img-hover"
                                        data-src="{% static 'images/shop/gallery/furniture-gallery_05.jpg' %}"
                                        src="{% static 'images/shop/gallery/furniture-gallery_05.jpg' %}" alt="image-gallery">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-item hover-img rounded-0 wow fadeInUp" data-wow-delay=".4s">
                                <div class="img-style">
                                    <img class="lazyload img-hover"
                                        data-src="{% static 'images/shop/gallery/furniture-gallery_06.jpg' %}"
                                        src="{% static 'images/shop/gallery/furniture-gallery_06.jpg' %}" alt="image-gallery">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute-dots sw-dots sw-pagination-gallery justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Shop Gram -->
        
{% endblock content %}