{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- page-title -->
        <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center">Contacto</div>
            </div>
        </div>
        <!-- /page-title -->
        <!-- map -->
        <div class="w-100">
            <iframe
                src="{{ tienda_config.mapa_embed_url }}"
                width="100%" height="646" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- /map -->
        <!-- form -->
        <section class="flat-spacing-21">
            <div class="container">
                <div class="tf-grid-layout gap30 lg-col-2">
                    <div class="tf-content-left">
                        <h5 class="mb_20">Visita Nuestro Almacén</h5>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Dirección</strong></p>
                            <p>{{ tienda_config.direccion|linebreaksbr }}</p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Teléfono</strong></p>
                            <p><a href="tel:{{ tienda_config.telefono }}">{{ tienda_config.telefono }}</a></p>
                        </div>
                        <div class="mb_20">
                            <p class="mb_15"><strong>Email</strong></p>
                            <p><a href="mailto:{{ tienda_config.email }}">{{ tienda_config.email }}</a></p>
                        </div>
                        <div class="mb_36">
                            <p class="mb_15"><strong>Open Time</strong></p>
                            <p>{{ tienda_config.horario_apertura|linebreaksbr }}</p>
                        </div>
                        <div>
                            <ul class="tf-social-icon d-flex gap-20 style-default">
                                {% if tienda_config.facebook_url and tienda_config.facebook_url != "#" %}
                                <li><a href="{{ tienda_config.facebook_url }}" target="_blank" class="box-icon link round social-facebook border-line-black"><i
                                            class="icon fs-14 icon-fb"></i></a></li>
                                {% endif %}
                                {% if tienda_config.twitter_url and tienda_config.twitter_url != "#" %}
                                <li><a href="{{ tienda_config.twitter_url }}" target="_blank" class="box-icon link round social-twiter border-line-black"><i
                                            class="icon fs-12 icon-Icon-x"></i></a></li>
                                {% endif %}
                                {% if tienda_config.instagram_url and tienda_config.instagram_url != "#" %}
                                <li><a href="{{ tienda_config.instagram_url }}" target="_blank" class="box-icon link round social-instagram border-line-black"><i
                                            class="icon fs-14 icon-instagram"></i></a></li>
                                {% endif %}
                                {% if tienda_config.tiktok_url and tienda_config.tiktok_url != "#" %}
                                <li><a href="{{ tienda_config.tiktok_url }}" target="_blank" class="box-icon link round social-tiktok border-line-black"><i
                                            class="icon fs-14 icon-tiktok"></i></a></li>
                                {% endif %}
                                {% if tienda_config.pinterest_url and tienda_config.pinterest_url != "#" %}
                                <li><a href="{{ tienda_config.pinterest_url }}" target="_blank" class="box-icon link round social-pinterest border-line-black"><i
                                            class="icon fs-14 icon-pinterest-1"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="tf-content-right">
                        <h5 class="mb_20">Contáctanos</h5>
                        <p class="mb_24">Si tienes productos geniales que estás creando o deseas trabajar con nosotros, no dudes en escribirnos.</p>
                        <div>
                            <form class="form-contact" id="contactform" action="./contact/contact-process.php"
                                method="post">
                                <div class="d-flex gap-15 mb_15">
                                    <fieldset class="w-100">
                                        <input type="text" name="name" id="name" required placeholder="Name *" />
                                    </fieldset>
                                    <fieldset class="w-100">
                                        <input type="email" name="email" id="email" required placeholder="Email *" />
                                    </fieldset>
                                </div>
                                <div class="mb_15">
                                    <textarea placeholder="Message" name="message" id="message" required cols="30"
                                        rows="10"></textarea>
                                </div>
                                <div class="send-wrap">
                                    <button type="submit"
                                        class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /form -->
    {% endblock content %}
