{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- page-title -->
        <div class="tf-page-title">
            <div class="container-full">
                <div class="heading text-center">My Account</div>
            </div>
        </div>
        <!-- /page-title -->

        <!-- page-cart -->
        <section class="flat-spacing-11">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="wrap-sidebar-account">
                            <ul class="my-account-nav">
                                <li><span class="my-account-nav-item active">Panel de control</span></li>
                                <li><a href="{% url 'my-account-orders' %}" class="my-account-nav-item">Pedidos</a></li>
                                <li><a href="{% url 'my-account-address' %}" class="my-account-nav-item">Direcciones</a></li>
                                <li><a href="{% url 'my-account-edit' %}" class="my-account-nav-item">Detalles de cuenta</a></li>
                                <li><a href="{% url 'my-account-wishlist' %}" class="my-account-nav-item">Favoritos</a></li>
                                <li><a href="{% url 'usuarios:logout' %}" class="my-account-nav-item">Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="my-account-content account-dashboard">
                            <div class="mb_60">
                                <h5 class="fw-5 mb_20">Hola {{ user.nombre|default:user.email }}</h5>
                                <p>
                                    Desde el panel de control de tu cuenta, puedes ver tus <a class="text_primary"
                                        href="{% url 'my-account-orders' %}">pedidos recientes</a>, gestionar tus <a
                                        class="text_primary" href="{% url 'my-account-address' %}">direcciones de envío y facturación</a>, y <a class="text_primary" href="{% url 'my-account-edit' %}">editar tu
                                        contraseña y detalles de la cuenta</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page-cart -->

        <div class="btn-sidebar-account">
            <button data-bs-toggle="offcanvas" data-bs-target="#mbAccount" aria-controls="offcanvas"><i
                    class="icon icon-sidebar-2"></i></button>
        </div>

{% endblock %}